.header-area{
    border-bottom: 1px solid #666;
    padding-left: 5%;
}

.header-area h2{
    margin-top: 3%;
}

.menu-area{
    border-bottom: 1px solid #666;
    padding-left: 5%;
    padding-right: 5%;
}

.login-area{
    text-align: right;
}

.content-area{
    border-bottom: 1px solid #666;
    padding-left: 5%;
    padding-right: 5%;
}

.article
{
    border-bottom: 1px solid #666;
}